 <div class="row">
			<!-- burgers ordered -->
			<div class="col s6 offset-s1">
				<div class="row green-text"><h5>Burgers ready to be devoured</h5></div>

				{{#each burgersToBeDevoured}}
					<div class="row white valign-wrapper">
						<div class="col s8"><p>{{id}}. {{burger_name}}</p></div>
						<form action="/?_method=PUT" method="POST">
							<div class="col s4" >
								<button name="id" class="valign" value={{id}}>Devour</button>
							</div>
						</form>
					</div>
				{{/each}}

			</div>

			<!-- burgers devoured -->
			<div class="col s4 offset-s1">
				<div class="row red-text"><h5>Devoured Burgers</h5></div>
				{{#each burgersDevoured}}
				<div class="row">
					<p>{{id}}. {{burger_name}}</p>
				</div>
				{{/each}}
			</div>
		</div>



 <!-- user input -->
		<div class="row">
		<h6 class="center">Enter the burger you want to eat and click submit.</h6>
		 <form action="/" method="POST" class="col s12">
	      <div class="row">
	        <div class="input-field col s4 offset-s4">
	          <textarea id="textarea1" name="burger_name" class="materialize-textarea white" autofocus></textarea>
	          <label for="textarea1"></label>
	        </div>
	         <div class="input-field col s4 offset-s4 center">
	          <button class="btn waves-effect waves-orange">Submit</button></td>
	        </div>
	      </div>
	    </form>
		</div>

